@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #F9F9F9;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #1A1A1A;
  --color-secondary: #FFFF;
  --color-gradient-one: #FF52D1;
  --color-gradient-two: #FFC125;
  --color-gradient-three:#00C3D9;
  --color-gradient-four:#F3631C;
  --color-gradient-text-one:#fcba03;
  --color-gradient-text-two: #fc4b05;
}
.glow{
  box-shadow: 0 0 12px var(--color-gradient-one);
}
.gradient-border {
  position: relative;
  border-radius: 1rem;
  background: linear-gradient(
    to bottom,
    var(--color-gradient-one),
    var(--color-gradient-two),
    var(--color-gradient-three),
    var(--color-gradient-four)
  );
  padding: 2px; /* This creates the "border" width */
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: var(--color-primary);
  border-radius: inherit;
  z-index: 1;
}

/* Content goes in a child element with higher z-index */
.gradient-border > * {
  position: relative;
  z-index: 2;
}

.bg-main-gradient {
  background: linear-gradient(to right, var(--color-gradient-one), var(--color-gradient-two), var(--color-gradient-three), var(--color-gradient-four));
}
.bg-main-gradient-reverse {
  background: linear-gradient(to bottom, var(--color-gradient-one), var(--color-gradient-two), var(--color-gradient-three), var(--color-gradient-four));
}
.gradient-text {
  background: linear-gradient(90deg, var(--color-gradient-text-one), var(--color-gradient-text-two));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.height-basic{
  height: 8rem;
}
.bg-showcase{
  background: linear-gradient(
  to bottom,
  transparent 0%,
  var(--color-primary) 10%,
  var(--color-primary) 85%,
  transparent 95%
);
}